<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Angular Elastic Input : A directive for AngularJS which automatically resizes the width of input field according to the content, while typing.">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <title>Angular Elastic Input</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/jacek-pulit/angular-elastic-input">View on GitHub</a>

          <h1 id="project_title">Angular Elastic Input</h1>
          <h2 id="project_tagline">A directive for AngularJS which automatically resizes the width of input field according to the content, while typing.</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/jacek-pulit/angular-elastic-input/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/jacek-pulit/angular-elastic-input/tarball/master">Download this project as a tar.gz file</a>
            </section>
            <div id="facebook-like-button" class="fb-like" data-href="http://jacek-pulit.github.io/angular-elastic-input/"
                 data-layout="box_count" data-action="like" data-show-faces="true"></div>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer" ng-app="elasticInputApp">
      <section id="main_content" class="inner" ng-controller="AppController">

        <h3>Installation:</h3>
        <p>1. Download archive file above or install using bower:</p>
        <pre><code>bower install angular-elastic-input --save</code></pre>
        <p>2. Include the script tag on your page after the AngularJS script tags:</p>
        <pre><code>&lt;script src=&quot;path/to/angular-elastic-input.min.js&quot;&gt;&lt;/script&gt;</code></pre>
        <p>3. Ensure that your application module specifies <code>puElasticInput</code> as a dependency:</p>
        <pre><code>angular.module('myApp', ['puElasticInput']);</code></pre>
        <p>4. Use the directive by specifying an <code>pu-elastic-input</code> attribute on an input element:</p>
        <pre><code>&lt;input type=&quot;text&quot; pu-elastic-input/&gt;</code></pre>

        <h3>Demo:</h3>
        <p><input class="form-control" type="text" pu-elastic-input/></p>

        <h3>Supports:</h3>
        <p>Model updates: <a href="" ng-click="updateModel()">click here</a></p>
        <p><input class="form-control" type="text" ng-model="model" pu-elastic-input/></p>
        <p>Placeholders:</p>
        <p><input class="form-control" type="text" placeholder="placeholder" pu-elastic-input/></p>

        <h3>Options:</h3>
        <p>Minimum and maximum width you can specify as css properties: <code>min-width</code> and <code>max-width</code></p>
        <pre><code>&lt;input type=&quot;text&quot; pu-elastic-input <br/>&nbsp; &nbsp; &nbsp; &nbsp;style=&quot;min-width: 200px; max-width: 400px;&quot;/&gt;</code></pre>
        <p> Example:
            <input class="form-control" type="text" style="min-width:200px;max-width:400px;" pu-elastic-input/>
        </p>
        <p>or as element attributes: <code>pu-elastic-input-minwidth</code> and <code>pu-elastic-input-maxwidth</code></p>
        <pre><code>&lt;input type=&quot;text&quot; pu-elastic-input <br/>&nbsp; &nbsp; &nbsp; &nbsp;pu-elastic-input-minwidth=&quot;300px&quot; pu-elastic-input-maxwidth=&quot;none&quot;/&gt;</code></pre>
        <p> Example:
            <input class="form-control" type="text" pu-elastic-input-minwidth="300px" pu-elastic-input-maxwidth="none" pu-elastic-input/>
        </p>
        <h4>Defaults:</h4>
        <p><code>min-width</code>: 0</p>
        <p><code>max-width</code>: inner width of parent element</p>

        <h3>License:</h3>
        <p>Angular Elastic Input is licensed under the MIT license. See the LICENSE file for more details.</p>

      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Angular Elastic Input maintained by <a href="https://github.com/jacek-pulit">Jacek Pulit</a></p>
        <p class="info">Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&appId=674392462584527&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/angular-elastic-input.min.js?v=2.2.0"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-54952809-1', 'auto');
        ga('send', 'pageview');
    </script>

  </body>
</html>
